<h2>Proyecto Wiffer</h2>

Este proyecto tendra como fin desarrollar una aplicacion para la administracion de redes inalambricas previamente auditadas, para la generacion de reportes estadisticos sobre la seguridad de estas en determinado sector implementando la geolocalizacion y georeferenciacion
<p>
Para mayor conocimiento sobre el proyecto, dejo a libre dispocision el repositorio del proyecto
<p>
<a href="https://github.com/Mat24/Wiffer">https://github.com/Mat24/Wiffer</a>