<h3>DocumentRoot</h3>

Especifica el directorio desde el cuál httpd servirá los ficheros.
A menos que especifique alguna otra equivalencia mediante una directiva Alias, el servidor añade la ruta de la URL solicitada a este directorio para construir la ruta del documento a servir.

<h3>DirectoryIndex</h3>

La directiva DirectoryIndex establece la lista de recursos o archivo a buscar, cuando el cliente solicita un índice del directorio especificando una / al final de un nombre de directorio.
archivo:httpd.conf
linea: DirectoryIndex index.html index.htm default.htm index.php index.pl

<h3>JQuery</h3>

jQuery nos permite agregar efectos y funcionalidades complejas a nuestra aplicacion web, como por ejemplo: galerías de fotos dinámicas y elegantes, validación de formularios, calendarios y mucho mas!!!. Otra ventaja sin duda es la posibilidad que nos brinda de trabajar con AJAX, sin preocuparnos de los detalles complejos de la programación. Ademas cuenta con la posibilidad de agregar plugins, facilitando mas aun nuestro trabajo...

<h3>Localhost</h3>
Hace referencia a la direccion local de la maquina "se llama a si misma" en direccion ipv4 se referenciaria como 127.0.0.1 o 0.0.0.0 y en direcciones ipv6 como ::1, puede usarse para consumir servicios propios de la maquina.

<h3>Phonegap</h3>
Este es un framework para desarrollo de apliciones para dispositivos moviles, se caracteriza por crear aplicaciones empaquetadas para diferentes sistemas operativos moviles (Android, IOs, Windows Phone)

