<h2>Que es HTML5 ?</h2>
HTML5 (HyperText Markup Language, versión 5) es la quinta revisión importante del lenguaje básico de la World Wide Web, HTML. HTML5 especifica dos variantes de sintaxis para HTML:
un clásicoHTML (text/html), la variante conocida como HTML5 y una variante XHTML conocida como sintaxis XHTML5 que deberá ser servida como XML

<h2>Validaciones HTML5</h2>
HTML5 nos permite validar campos con la sentencia required, en este ejemplo si no se llena el campo y se pulsa enviar, mostrara una alerta de que es requerido
<p>
<form id="orderForm" action="" method="get">
  <fieldset>
    Nombre: <input type="text" name="nombre" required>
  </fieldset>
  <input type="submit" name="enviar" value="Enviar" />
</form>

<h2>Otros puntos</h2>
Esta pagina hace uso de HTML5, JQuery, Bootstrap y esta desarrollada desde cero sobre Ruby on Rails para el curso de desarrollo web USC