<h1>Acerca de AYAcomputer</h1>
<p>Sitio web desarrollado por el ing. <strong>Mateo Aya</strong> para el desarrollo de los talleres de el curso de programacion web</p>
<p>Como buen desarrollador que soy, dejo a dispocision el repositorio donde esta el codigo fuente de esta pagina, para que cualquiera que desee aprender, pueda acceder a el sin restriccion alguna</p>
<a href="https://github.com/Mat24/curso-usc">https://github.com/Mat24/curso-usc</a>